body{
    background-image: url('../images/grayflag.jpg');
    background-color: #fdb515;
    color: white;
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
    color: black;
}

.container2{
    width:80%;
    margin:auto;
    overflow: hidden;
    color: #fdb515;
}


#main-header{
    background-color: black;
    color: #fdb515;
}

#navbar{
    background-color: #fdb515;
    color: black;
}

#navbar ul{
    padding: 5px;
    list-style: none;
}

#navbar li{
    display: inline;
}

#navbar a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

#showcase{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    max-width: 100%;
    max-height: 100%;
    background-image:url('../images/pupper.jpg');
    background-size: contain;
    background-color: black;
    border-radius: 1em;
    color: black;
}

.submission-box{
    background: black;
    text-align: center ;
    color: white;
    border-radius: 1em;
    padding: 1em;
    position: fixed;
    top: 625px;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%)
}

#showcase h1{
    color: #fff;
    font-size: 50px;
    line-height: 1.6em;
    padding: 30px;
}

#main{
    float:left;
    width: 100%;
    padding:50px 30px;
    box-sizing: border-box;
}

#sidebar{
    float:right;
    width: 30%;
    background: #333;
    color: #fff;
    padding: 10px;
    box-sizing: border-box;
}

#main-footer{
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}

@media(max-width: 600px) {
    #main{
        width:100%;
        float:none;
    }
}