body{
    background-image: url('../images/grayflag.jpg');
    background-color: #fdb515;
    color: white;
    font-family: Ariel, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.6em;
    margin: 0;
}

.container{
    width:80%;
    margin:auto;
    overflow: hidden;
    color: black;
}

.container2{
    width:80%;
    margin:auto;
    overflow: hidden;
    color: #fdb515;
}


#main-header{
    background-color: black;
    color: #fdb515;
}

#navbar{
    background-color: #fdb515;
    color: black;
}

/* show list items so they're in a row, not a column */
#navbar li{
    display: inline;
}

/* text of the navbar */
#navbar a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    padding: 5px;
}

h2{
    text-align: center;
}

.submission-box{
    background: black;
    text-align: center ;
    color: white;
    top: 200px;
    bottom: 100px;
    width: 650px;
    border-radius: 1em;
    padding: 1em;
    position: relative;
    left: 50%;
    transform: translate(-50%, -50%);
}

#main-footer{
    position: relative;
    top: 320px;
    left: 0;
    bottom: 0;
    width: 100%;
    background: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
}