<!-- Declare doctype and set title, link to css file and bootstrap-->
<!DOCTYPE html>

<html lang="en">
<head>
    <title>Assignment Page</title>
    {% load static%}
    <link rel="stylesheet" type="text/css" href="css/assignmentStyle.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
<!-- header for the page -->
    <header id="main-header">
        <div class="container2">
            <h1>MyUMBC Submission System</h1>
        </div>
    </header>

    <!-- navbar for the page, hrefs potential to be changed across website -->
    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/submitsystem/home/">Home</a></li>
                <li><a href="/submitsystem/contact/">Contact</a></li>
                <li><a href="/submitsystem/submit/">Submit</a></li>
                <li><a href="/submitsystem/studentmanager/">Student Manager</a></li>
            </ul>
        </div>
    </nav>
    <br><br>

    <!-- Assignment structure, select box for adding and removing
     assignments, selecting class number, naming assignment
     date and time selector, and multiple file uploading -->
    <div class="container">
        <section id="main">

            <h2>Welcome to the Assignment Page</h2>

        </section>

    </div><br><br>

   <div class="submission-box">
        <form method="post" enctype="multipart/form-data">
        {% csrf_token %}

             <label> Create/Remove Assignment:</label>
                <!--<select name="CreateRemove" id="CreateRemove">
                    <option value="Create">Create</option>
                    <option value="Remove">Remove</option>
                </select>-->
                {{ form.createRemove }}
            <br><br>

            <label class="classNum">Class Number:</label>
                <!--<input type="number" name="classNum" id="classNum"> -->
                {{ form.classNum}}
            <br><br>

            {{ form.section }}
            <!--<input type="checkbox" id="section1" name="section1" value="Section1">
            <label for="section1">Section 1 &nbsp</label>
            <input type="checkbox" id="section2" name="section2" value="Section2">
            <label for="section1">Section 2 &nbsp</label>
            <input type="checkbox" id="section3" name="section3" value="Section3">
            <label for="section1">Section 3 &nbsp</label>
            <input type="checkbox" id="section4" name="section4" value="Section4">
            <label for="section1">Section 4 &nbsp</label>
            -->

            <br><br>

            <label>Name of Assignment:</label>
                <!--<input type="text" name="assignmentName" id="assignmentName">-->
                {{ form.assignmentName }}
            <br><br>

            <label>"dueDT">Date & Time Due:</label>
                <!--<input type="datetime-local" id="dueDT" name="DueDT" step=1>-->
                {{ form.datetimeDue }}
            <br><br>

            <h6>Please Choose Files to Upload</h6>
                    <input type="file" id="myFile" name="filename" multiple>

            <input type="submit">

        </form>
    </div>
</body>

<!-- Footer for the page -->
<footer id="main-footer">
        <p>Copyright &copy; Virtual Victory</p>
</footer>
</html>