<!-- Declare doctype and set title, link to css file and bootstrap-->
<!DOCTYPE html>
<html lang="en">
<head>
    <title>Submit System Login</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'submitsystem/css/loginStyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>

<body>
    <!-- header for the page -->
    <header id="main-header">
        <div class="container">
            <h1>MyUMBC Submission System</h1>
        </div>
    </header>

    <!-- Login structure, including places for user to input username,
    password, and button to click to log in -->
    <h2>Login Page</h2><br>
    <div class="login">
        <br><br>
    <form id="login" method="post">
        <label><b>Username:
        </b>
        </label><br>
        {% csrf_token %}
        <!--<input type="text" name="Uname" id="Uname" placeholder="Username">-->
        {{ form.username }}
        <br><br>
        <label><b>Password:
        </b>
            <br>
        </label><br>
        <!--<input type="Password" name="Pass" id="Pass" placeholder="Password">-->
        {{ form.password }}
        <br><br>
        <input type="submit" name="log" id="log" value="Log In">
        <br><br>
        <label>
            <b>{{ invalidLogin }}</b>
        </label>
    </form>
</div>
<!-- Footer for the page -->
<footer id="main-footer">
        <p>Copyright &copy; 2020 Virtual Victory </p>
</footer>
</body>


</html>