<!DOCTYPE html>
<html lang="en">
<head>
    <title>Submit Page</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'submitsystem/css/subStyle.css' %}">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
</head>
<body>
    <header id="main-header">
        <div class="container2">
            <h1>MyUMBC Submission System</h1>
        </div>
    </header>
    <nav id="navbar">
        <div class="container">
            <ul>
                <li><a href="/submitsystem/home">Home</a></li>
                <li><a href="/submitsystem/contact/">Contact</a></li>
                <li><a href="/submitsystem/submit/">Submit</a></li>
                <li><a href="/submitsystem/studentmanager/">Student Manager</a></li>
                <li><a href="/submitsystem/assignments/">Assignments</a></li>
            </ul>
        </div>
    </nav>

    <section id="showcase">
        <div class="container">
        </div>
    </section>

    <div class="container">
        <section id="main">
            <h2>Welcome to the Submission Page</h2>

        </section>

    </div>

    <div class="submission-box">
        <h6>Please Choose Files to Upload</h6>
         <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form }}
                <!--<input type="file" id="myFile" name="filename" multiple>-->
                <input type="submit">
         </form>
        <b>{{fileSubmitted}}</b>
    </div>

    <footer id="main-footer">
        <p>Copyright &copy; 2020 Virtual Victory</p>
    </footer>
</body>
</html>
